
*, html, body {
  padding: 0;
  outline: 0;
  margin: 0;
}
.clearfix {
  *zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  text-rendering: optimizelegibility;
}

hr {
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #fff;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 410px;
  margin-top: -250px;
  margin-left: -250px;
}

#container .canvas {
  position: absolute;
  top: 60px;
  left: 0;
  width: 600px;
  height: 350px;
  border: 1px solid #eee;
  border-radius: 8px;
}

#container .canvas .box {
  top: 50px;
  left: 50px;
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #ff0099;
  border-radius: 5px;
}
